*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .head{
    font-family: Arial, Helvetica, sans-serif;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 10;
   
  }
  .head a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 40px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 28px;
   
     }
  .head a:hover{
    /* background-color: black; */
    background:rgb(248, 211, 3);
    color: #fff;
  }
  .head ul{
    list-style: none;
    display: flex;
  }
  .head li{
    position: relative;
    width: 100%;
    text-align: center;
  }
  .head li:hover .dropdown-content > li{
    display: block;
    top: 0px;
  }
  .dropdown-content li{
    display: none;
    position: relative;
  }
  .dropdown-content li a{
      border-radius: none;
     color:black;
  }
  .dropdown-content{
  
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 15px;
  }

  .dropdown-content li:hover {
    display: block;
  }
  
  
  